.Header {
  background-color: #1a2947;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
}

.Header-name,
.Header-name a,
.Header-name a:hover,
.Header-name a:active,
.Header-name a:visited {
  font-family: 'Montez';
  font-size: 36px;
  color: #46bacf;
  margin-right: 28px;
}

.Header h1 {
  font-size: 24px;
  color: #fff;
}
