.Link {
  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 4px;
  cursor: pointer;
}

.Link:hover {
  background-color: #f5f6f7;
  border: 1px solid #dddfe2;
}

a,
a:-webkit-any-link {
  color: #4267b2;
  text-decoration: none;
  word-break: break-all;
}
